<div class="breadcomb-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="breadcomb-list">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="breadcomb-wp">
									<div class="breadcomb-icon">
										<i class="notika-icon notika-form"></i>
									</div>
									<div class="breadcomb-ctn">
										<h2>History All</h2>
										<p>Welcome to <span class="bread-ntd">BangBank</span></p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-3">
								<div class="breadcomb-report">
									<button data-toggle="tooltip" data-placement="left" title="Download Report" class="btn"><i class="notika-icon notika-sent"></i></button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>

<div class="normal-table-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="normal-table-list mg-t-30">
                    <div class="basic-tb-hd">
                        <h2>History All IN</h2>
                    </div>
                    <div class="bsc-tbl-st">
                        <table class="table table-striped">
                            <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Amount</th>
                                        <th>Amount Sign</th>
                                        <th>Date</th>
                                        <th>ID Card Pengirim</th>
                                    </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let datain of datain | paginate: {itemsPerPage: 10, currentPage: p}">
                                    <td>{{datain.idtransaction}}</td>
                                    <td>{{datain.amount | currency:'Rp.' }}</td>
                                    <td>{{datain.amountsign}}</td>
                                    <td>{{datain.date}}</td>
                                    <td>
                                        <button *ngIf="datain.idcard == 0" class="btn btn-success notika-btn-success waves-effect btn-xs waves-effect">BangBank</button>
                                        <span *ngIf="datain.idcard != 0">{{datain.idcard}}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="normal-table-list mg-t-30">
                        <div class="basic-tb-hd">
                            <h2>History All OUT</h2>
                        </div>
                        <div class="bsc-tbl-st">
                            <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Amount</th>
                                            <th>Amount Sign</th>
                                            <th>Date</th>
                                            <th>ID Card Tujuan</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let dataout of dataout | paginate: {itemsPerPage: 10, currentPage: t}">
                                            <td>{{dataout.idtransaction}}</td>
                                            <td>{{dataout.amount | currency:'Rp.'}}</td>
                                            <td>{{dataout.amountsign}}</td>
                                            <td>{{dataout.date}}</td>
                                            <td>{{dataout.idcard}}</td>
                                        </tr>
                                    </tbody>
                            </table>
                            <pagination-controls (pageChange)="t = $event"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>